/* begin Page */
/* Created by Artisteer v3.1.0.48375 */
*{
	font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
}
nav ul li a{ color:#08088A !important; font-size: 17px !important;}
nav ul ul li a{ color:#08088A !important; font-size: 14px !important;}
nav {background:  #E73819 !important;}
.container
{
   min-height: 650px;
   width: 100% !important
}


body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #0F1419;
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top left;
}
#main, table
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

/* begin Footer */
.footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.footer-body
{
   position:relative;
   padding: 5px;
   color: #0D1216;
   font-size: 11px;
}

.footer-body ul li
{
   color: #DFE5EC;
   padding: 0 0 0 13px;
   background-image: url('images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:50px;
   background-position:bottom left;
}

.footer:before, .footer:after
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:50px;
   background-image: url('images/footer_b.png');
}

.footer:before
{
   left:0;
   right:5px;
   background-position: bottom left;
}

.footer:after
{
   right:0;
   width:5px;
   background-position: bottom right;
}

.footer-body .rss-tag-icon
{
   position: absolute;
   left:   6px;
   bottom:5px;
   z-index:1;
}

.rss-tag-icon
{
   display: block;
   background-image: url('images/rssicon.png');
   background-position: center right;
   background-repeat: no-repeat;
   height: 32px;
   width: 32px;
   cursor: default;
}

.footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.footer-body a,
.footer-body a:link,
.footer-body a:visited,
.footer-body a:hover,
.footer-body td,
.footer-body th,
.footer-body caption
{
   color: #0D1216;
   font-size: 11px;
}

.footer-text
{
   min-height: 33px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.footer-body a,
.footer-body a:link
{
   color: #A9CCDF;
   text-decoration: none;
}

.footer-body a:visited
{
   color: #B6C4D3;
}

.footer-body a:hover
{
   color: #DAE9F1;
   text-decoration: underline;
}

div.footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}/* end Footer */

table {
	width: 100%;
}
table a:link {
	font-weight: bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:10px 20px 10px 20px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:10px 20px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.error{
	font-size: 12px;
	font-style: italic;
	color: red;
	vertical-align: middle;
}
button {
	font-weight: bold!important;
}

a {
	font-weight: bold;
}

#body{
	min-height: 70%;
	width: 90%;
	margin: 0px auto;
}
.modal-body{
	max-height: 70%;
	overflow-y: auto;
}
.scollable{
	overflow: auto;
}
.index{
	overflow: auto;
	max-height: 400px;
	max-width: 100%;
}
.assignee-area{
	max-height: 350px;
	min-height: 1cm;
	overflow: auto;
	background: white;
}
.more .children{
	display: none;
	max-height: 400px;
	overflow: auto;
}
.more .control{
	font-weight: bold;
	cursor: pointer;
}
.more .control:hover{
	text-decoration: underline;
}

.glyphicon-file a{
	font-weight: normal;
	font-size: 90%;
}