<!-- Company Structure -->
<div role="tabpanel" class="tab-pane active" id="company">
	<table ng-if="profile.isAdmin()">
		<tr>
			<td>
	            <button class="btn btn-default" data-toggle="modal" data-target="#newTeamModal" title="New Team"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New</button>
				<button ng-if="team.id!=0" class="btn btn-default" data-toggle="modal" data-target="#editTeamModal" title="Edit Team"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</button>
			</td>
		</tr>
	</table>
    <div class="row">
        <div role="tabpanel">
            <div class="col-md-3 navigation index">
                <div class="scrollable index member-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                    <ul class="nav nav-stacked" role="tablist">
                        <li role="presentation" ng-repeat="team in teams" class="{{team.id==0? 'active': ''}}" ng-click="chooseTeam($event)">
                        	<a value="{{team.id}}" href="#team{{team.id}}" aria-controls="team{{team.id}}" role="tab" data-toggle="tab">{{team.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 index">
                <div class="tab-content member-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
                    <div role="tabpanel" ng-repeat="team in teams" class="tab-pane {{team.id==0? 'active': ''}}" id="team{{team.id}}">
                        <table class="table table-striped table-bordered" style="background-color:bisque;" >
                            <tr>
                                <th style="width:30%">Name</th>
                                <td style="font-weight: bold">{{team.name}}</td>
                            </tr>
                            <tr>
                                <th>Picture</th>
                                <td><image src="{{team.avatar==''? 'images/avatar/team/teamwork.png': team.avatar}}" style="width: 150px"/></td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{team.description}}</td>
                            </tr>
                            <tr>
                                <th>Create time</th>
                                <td>{{settings.convertNormalDateTime(team.createtime)}}</td>
                            </tr>
                            <tr ng-if="team.id!=0">
                                <th>Leader</th>
                                <td><a href="?cat=staff&action=profile&id={{team.leader.id}}">{{team.leader.name}}</a></td>
                            </tr>
                            <tr>
                                <th>Member</th>
                                <td ng-if="team.members.length!=0">
                                    <div class="">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="member in team.members">
                                                <td>
                                                    <a href="?cat=staff&action=profile&id={{member.id}}" target="_blank" title="View {{member.name}}'s Infomation ">{{member.name}}</a>
                                                </td>
                                                <td ng-if="team.id!=0 && profile.isAdmin()">
                                                    <button ng-click="selectMember( member )" class="btn btn-default btn-sm" data-toggle="modal" data-target="#removeMember" title="Remove member {{member.name}} of team {{team.name}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td ng-if="team.members.length==0">(No member)</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

