                <!-- Project Structure -->
                <div role="tabpanel" class="tab-pane" id="project">
                    <div class="row">
                        <div role="tabpanel">
                            <div class="col-md-3 navigation index">
                                <div class="index" data-spy="scroll" data-target="#myNavbar" data-offset="0" >
                                    <ul class="nav nav-stacked" role="tablist">
                                        <li role="presentation" ng-repeat="project in projects" class="{{project==projects[0]? 'active': ''}}">
                                            <a href="#project{{project.id}}" aria-controls="project{{project.id}}" role="tab" data-toggle="tab">{{project.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-9 index">
                                <div class="tab-content scroll-area" data-target="#myNavbar" data-offset="0" >
                                    <div role="tabpanel" ng-repeat="project in projects" class="tab-pane {{project==projects[0]? 'active': ''}}" id="project{{project.id}}">

                                        <table class="table table-striped table-bordered" style="background-color:bisque;">
                                            <tr>
                                                <th style="width:30%">Name</th>
                                                <td><a href="?cat=task&id={{project.id}}">{{project.name}}</a></td>
                                            </tr>
                                            <tr>
                                                <th>Crate time</th>
                                                <td>{{settings.convertNormalDateTime(project.createtime)}}</td>
                                            </tr>
                                            <tr>
                                                <th>Start date</th>
                                                <td>{{settings.convertNormalDate(project.startdate)}}</td>
                                            </tr>
                                            <tr>
                                                <th>End date</th>
                                                <td>{{settings.convertNormalDate(project.enddate)}}</td>
                                            </tr>
                                            <tr>
                                                <th>Leader</th>
                                                <td><a href="?cat=staff&action=profile&id={{project.leader.id}}" target="_blank" title="View {{project.leader.name}}'s Infomation ">{{project.leader.name}}</a></td>
                                            </tr>
                                            <tr>
                                                <th>Member</th>
                                                <td ng-if="project.assignee.length!=0">
                                                	<div class="member-area1">
	                                                    <table class="table">
	                                                        <tr ng-repeat="member in project.assignee">
	                                                            <td><a href="?cat=staff&action=profile&id={{member.id}}" target="_blank" title="View {{member.name}}'s Infomation ">{{member.name}}</a></td>
	                                                        </tr>
	                                                    </table>
	                                                </div>
                                                </td>
                                                <td ng-if="project.assignee.length==0">
                                                    (No member)
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
