<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit {{task.type=='PROJECT'? "project": "task"}}</h4>
            </div>

                <form class="form-horizontal" method="post" name="editForm" id="eidtForm" ng-submit="submit()" action="{{currentURL}}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="name" class="form-control" ng-model="task.name" placeholder="Enter name" required>
                            </div>
                        </div>

                        <div class="form-group" ng-if="task.isProject()">
                            <label for="name" class="col-sm-3 control-label">Project type</label>
                            <div class="col-sm-3">
                                <select name="projecttype" class="form-control">
                                	<option value="PUBLIC" ng-selected="task.isPublic()">Public</option>
                                	<option value="PRIVATE"  ng-selected="!task.isPublic()">Private</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="startdate" class="col-sm-3 control-label">Start date</label>
                            <div class="col-sm-9">
                                <input name="startdate" ng-model="task.startdate" type="date" class="form-control" style="width:40%">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="enddate" class="col-sm-3 control-label">End date</label>
                            <div class="col-sm-4">
                                <input name="enddate" ng-model="task.enddate" type="date" class="form-control"required>
                            </div>
                            <div class="col-sm-5 error" ng-if="settings.compareTime(task.startdate, task.enddate)">Should be greater than Start time</div>
                        </div>

                        <div class="form-group">
                            <label for="duration" class="col-sm-3 control-label">Duraion({{settings.getSystemTimeFormatSymbol()}})</label>
                            <div class="col-sm-9">
                                <input id="duration" name="duration" value="{{settings.convertNormalDuration(task.duration)}}" type="text" class="form-control" style="width:40%">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea type="text" name="description" ng-model="task.description" class="form-control" rows="5" placeholder="Enter description"></textarea>
                            </div>
                        </div>

                        <input type="hidden" name="action" value="editTask" />
                        <input ng-hide="true" id="id" name="id"  ng-model="task.id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="settings.compareTime(task.startdate, task.enddate)">OK</button>
                    </div>
            </form>
        </div>
    </div>
</div>
